@import url("header.css");
@import url("inscription.css");

body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

.titrePage {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.succes {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #27ae60;
	color: white;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 2px 2px 4px #000;
}

.boutonSucces {
	cursor: pointer;
	margin-left: 20px;
}

/* CHAMPS RECHERCHE */

.formulaireRecherche {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 200px;
}

/* CHAMPS */
.blocRecherche {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
}

.champsCategorie {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

/* BOUTON */
.blocBoutonRecherche {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
}

.blocBoutonRecherche button {
	padding: 50px 100px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
	header {
		flex-direction: column;
		justify-content: center;
	}
	
	.blocRecherche {
		flex-direction: column;
	}
}

/* PAGE CONNEXION */

.blocConnexion {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.blocConnexionInputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: justify;
	margin-bottom: 40px;
}

.labelinput {
	display: flex;
	justify-content: center;
	align-items: center;
}

.blocConnexionBoutons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

.blocConnexionBouton {
	display: flex;
	justify-content: center;
	align-items: center;
}

.blocConnexionOptions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.souvenir {
	display: flex;
	justify-content: center;
	align-items: center;
}

.creationCompte {
	display: flex;
	justify-content: center;
	align-items: center;
}

.creationCompte a {
	background-color: #ccc;
	padding: 30px 60px;
	text-decoration: none;
	color: #000;
}
